<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon src="assets/icon/transactions.svg"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="card">
      <ion-icon src="assets/icon/cards.svg"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon src="assets/icon/more.svg"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>