<ion-content>
  <div class="content">
    <div class="upper">
      <div class="logo">
        <img src="assets/imgs/wordmark.svg">
      </div>
      <div class="welcome">
        <p class="text">Hello, welcome back. <br> Please sign in. </p>
      </div>

      <div class="form">
        <form>
          <ion-item>
            <ion-input required type="tel" placeholder="Phone number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="password" placeholder="Password"></ion-input>
          </ion-item>
        </form>
      </div>
      <div class="forgot-password">
        <ion-button class="btn" fill="clear" color="light">
          Forgot your password?
        </ion-button>
      </div>
    </div>
    <div class="footer">
      <ion-button class="sign-in-btn" fill="solid" expand="block">
        Sign In
      </ion-button>
      <div class="create-account">
        <p>New to Wallet? </p>
        <ion-button color="light" fill="clear">
          Create an account
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>